* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  /* made dynamic column by auto-fit  */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-flow: dense;
  background-color: #f9f5f6;
  grid-gap: 2rem;
}

.horizontal {
  grid-column: auto / span 2;
}
.vertical {
  grid-row: auto / span 2;
}
.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}
